body {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(#ffffff, #fff7ca) fixed;
    font-family: 'Trebuchet MS', sans-serif;
}

img {
    border-radius: 25px;
    border: solid 1px black;
}