body {
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff, #fff7ca) fixed;
    font-family: 'Trebuchet MS', sans-serif;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    backface-visibility: hidden;
  }

.image:hover {
    opacity: 5;
}