html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#000000,#660000) fixed;
    background: linear-gradient(#660000,#000000,#660000) fixed;
    font-family: 'tradegothiclt-bold', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

img {
    position: absolute;
    top: 100px%;
    right: 25%;
    width: 500px;
    height: 500px;
}

#text {
    color: #ffffff;
}

.fadein img {
    position:0px, 0px;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    -webkit-animation-delay: -4s;
}

#f2 {
    -webkit-animation-delay: -2s;

}
#f3 {
    -webkit-animation-delay: -2s;
}
#f4 {
    -webkit-animation-delay: -4s;
}