body{
    text-align: center;
    background-color: #ace1af;
}

#beanie{
    width: 580px;
    height: 290px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    top: 30px;
    left: 160px;
    z-index: 3;
    background-color: black;
}

#face{
    height: 650px;
    width: 600px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index:1;
    background-color: rgb(255, 200, 124);
}

.hair{
    width: 580px;
    height: 150px;
    top: 220px;
    left: 150px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    background: rgb(26, 36, 33);
    z-index: 2
}

#lefteye{
    height: 75px;
    width: 75px;
    top: 400px;
    left: 300px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    z-index: 2;
}

#lefteyepupil{
    height: 44px;
    width: 44px;
    top: 415px;
    left: 315px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    z-index: 2;
}

#righteye{
    height: 75px;
    width: 75px;
    top: 400px;
    left: 535px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

#righteyepupil{
    height: 44px;
    width: 44px;
    top: 415px;
    left: 550px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    z-index: 2;
}

#leftglass{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 285px;
    top: 385px;
    z-index:5;
    background-color: rgb(172,225,175);
    outline: 5px solid black
}

#rightglass{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 500px;
    top: 350px;
    z-index:5;
    background-color: rgb(172,225,175);
    outline: 5px solid black
}

#nose{
    border-top: 120px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 70px solid;
    border-left: 50px solid transparent;
    position: absolute;
    top: 370px;
    left: 380px;
    z-index: 3;
}

#leftglass:hover{
    opacity: 0.5;
}

#rightglass:hover{
    opacity: 0.5;
}

#glassframe{
    height: 5px;
    width: 115px;
    top: 450px;
    left: 385px;
    position: absolute;
    background-color: black;
    z-index:4;
}

#mouth{
    height: 10px;
    width: 200px;
    top: 625px;
    left: 335px;
    position: absolute;
    background-color: black;
    z-index:4;
}

#shirt{
    width: 580px;
    height: 290px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position:absolute;
    top: 700px;
    left: 160px;
    background-color: rgb(46,139,87);
    z-index: 0;
}